@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(44, 44, 44);
  font-family: "Verdana", sans-serif;
  user-select: none;
}
body > warning {
  display: none;
}
@media (max-width: 768px) {
  body > my-game {
    display: none;
  }
  body > warning {
    display: block;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 20px;
  }
}
body > my-game {
  position: relative;
  background-image: url(../sprites/map.gif);
  background-size: contain;
  background-repeat: repeat;
  width: 900px;
  height: 200px;
  max-width: 100%;
}
body > my-game playable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
body > my-game > restartGame {
  position: absolute;
  bottom: -55px;
  left: 0;
  display: block;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  padding: 10px 20px;
  font-weight: 800;
  text-align: right;
  font-size: 14px;
  z-index: 9;
  transition: all 0.1s;
  cursor: pointer;
}
body > my-game popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}
body > my-game popup.active {
  opacity: 1;
  pointer-events: unset;
}
body > my-game popup popupBox {
  background: white;
  padding: 20px;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body > my-game popup popupBox form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body > my-game popup popupBox form label span {
  display: block;
  margin: 0 0 4px;
  font-size: 12px;
}
body > my-game popup popupBox form label input {
  width: 100%;
  display: block;
}
body > my-game popup popupBox form div {
  display: flex;
  gap: 10px;
}
body > my-game popup popupBox form div button {
  flex: 1;
  cursor: pointer;
}
body > my-game > createGame {
  position: absolute;
  bottom: -55px;
  left: 210px;
  display: block;
  color: rgb(255, 255, 255);
  background: transparent;
  padding: 10px 20px;
  font-weight: 800;
  text-align: right;
  font-size: 14px;
  z-index: 9;
  transition: all 0.1s;
  cursor: pointer;
}
body > my-game[you-lost]::after {
  content: "Você perdeu!";
  position: absolute;
  width: 400px;
  height: 150px;
  color: red;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  font-size: 50px;
}
@media (max-width: 1199px) {
  body > my-game[you-lost]::after {
    font-size: 20px;
  }
}
body > my-game[you-lost] ball {
  filter: hue-rotate(-15deg) saturate(200%);
  animation: fadeOut 0.3s forwards;
  animation-delay: 0.3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body > my-game[you-lost] enemy {
  display: none;
}
body > my-game[you-lost] > welcome {
  display: none !important;
}
body > my-game > welcome:first-of-type {
  position: absolute;
  width: 100%;
  height: 150px;
  color: white;
  font-weight: 900;
  top: -40px;
  left: 0;
  font-size: 20px;
  opacity: 0.6;
}
body > my-game > welcome:last-of-type {
  display: none;
}
body > my-game[escape-something] > welcome:last-of-type {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 150px;
  color: white;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  font-size: 50px;
}
body > my-game > controls {
  position: absolute;
  bottom: -60px;
  right: 0;
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: right;
  font-size: 12px;
  opacity: 0.6;
  z-index: 9;
  line-height: 170%;
}
body > my-game > score {
  position: absolute;
  top: -52px;
  right: 0;
  display: block;
  color: rgb(255, 222, 58);
  font-weight: 400;
  text-align: right;
  font-size: 12px;
  opacity: 0.6;
  z-index: 9;
  font-weight: 700;
}
body > my-game > record {
  position: absolute;
  top: -32px;
  right: 0;
  display: block;
  color: white;
  font-weight: 400;
  text-align: right;
  font-size: 11px;
  opacity: 0.6;
  z-index: 9;
}
body > my-game ball {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  border-radius: 100%;
  transition: all 0.5s;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
body > my-game enemy {
  border-radius: 100%;
  display: block;
  position: absolute;
  background-image: url(../sprites/enemy.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  left: 1000px;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=index.css.map */
